extends layout

block content
  script.
    $(function () {
      $('.remove-action').click(function () {
         var myData = {
           bookId: $(this).attr('data')
         }
         $.ajax({
           type: 'post',
           url: '/del/' + myData.bookId,
           dataType: 'json',
           data: myData,
           success: function (data) {
             debugger;
             alert(data.success)
             window.location.href = '/'
           },
           error: function (err) {
             console.log(err)
           }
         })
         return false;
      })
    })
  .outer
    nav
      ul
        li.active
          a(href="/")= "home"
        li
          a(href="/admin")= "admin"
        li
          a(href="/users")= "users"
        li
          a(href="/del")= "clear all"
        li
          a(href="/add")= "add new"
    .top
      h1= "Book Collection"
      if (books.length > 0)
        .content
          each book in books
            .item
              if (book.new)
                .item-read
              if (book.bookId && book.hasImage)
                .image-wrapper
                  // img(src="https://librarystorage.blob.core.windows.net/bookcovers/"+ book.bookId + ".jpg" alt="image: " + book.bookId + ".jpg")
                  img(src="/images/"+ book.bookId + ".jpg" alt="image: " + book.bookId + ".jpg")
              else
                .image-wrapper.no-image
                  <p>No image provided</p>
              .text-wrapper
                h3= book.title
                h4= book.author
                .view-details
                  a.btn(title="view book " + book.bookId href="/details/" + book.bookId )= "View Details"
                  a.btn(title="edit book " + book.bookId href="/edit/" + book.bookId )= "Edit"
                  a.btn.remove-action(data= book.bookId title="remove book " + book.bookId href="/del/" + book.bookId )= "Remove"
      else
        .empty-list= "no items"
